<!--<div style="margin: 10px">
  <h1>Social Hacks</h1>
  <p> Needing help connecting to other hackers</p>
  <mat-divider></mat-divider>
  <h1>Create Groups</h1>
  <p> Create and join groups of other students!</p>
</div>-->

<mat-card>
  <mat-card-title><h1>Social Hacks</h1></mat-card-title>
  <mat-card-content><h3>Need help connecting with other hackers?</h3></mat-card-content>
    <mat-card-actions><button mat-button  routerLink="/createTeam">Create Groups</button></mat-card-actions>
    <mat-card-actions><button mat-button routerLink="/findTeams">Search Groups</button></mat-card-actions>
    <mat-card-actions><button mat-button routerLink="/findTeamMembers">Search Attendees</button></mat-card-actions>
</mat-card>

